
{% extends 'base.html'%}
{% block title%}
about
{% endblock %}
{% block content%} 

{% load static%}
<h1>about page</h1> 

<h4>Going in a group is a great way for solo travelers to see the world. Enjoy the ease of having all the details handled, and the peace of mind knowing we're there for you wherever you go.</h4>
<h4>we arrange to tours ,trips from collages,schools,family,solo trips</h4>
<h4>You just check our page to get more informations</h4>

<div class="container mt-2">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img class="carousel-item active" src="{% static '/images/boat1.jpg'%}" alt="Photo of sunset">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img class="carousel-item active" src="{% static '/images/k8.jpg'%}" alt="Photo of sunset">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img class="carousel-item active" src="{% static '/images/k11.jpg'%}" alt="Photo of sunset">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img class="carousel-item active" src="{% static '/images/k17.jpg'%}" alt="Photo of sunset">
        </div>
      </div>    
    </div>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img class="carousel-item active" src="{% static '/images/k18.jpg'%}" alt="Photo of sunset">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img class="carousel-item active" src="{% static '/images/k19.jpg'%}" alt="Photo of sunset">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img class="carousel-item active" src="{% static '/images/k23.jpg'%}" alt="Photo of sunset">
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
          <img class="carousel-item active" src="{% static '/images/k13.jpg'%}" alt="Photo of sunset">
        </div>
      </div>    
    </div>
  </div>
  <h4>You just check our page to get more informations</h4> 
  <h6>9633723314</h6>

{% endblock %}