{% extends 'base.html'%}
{% block title%}
contact
{% endblock %}
{% block content%} 
{% load static%}
<h1>contact page</h1>
<h4>Going in a group is a great way for solo travelers to see the world. Enjoy the ease of having all the details handled, and the peace of mind knowing we're there for you wherever you go.</h4>
<h4>we arrange to tours ,trips from collages,schools,family,solo trips</h4>
<h4>You just check our page to get more informations</h4>
<p>Jishnu s jyothish<br>
    bsc computer science <br>
    a small python django project </p>




{% endblock %}