{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>First</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static '/css/bootstrap.min.css'%}" rel="stylesheet">
    

    <!-- Template Stylesheet -->
    <link href="{% static '/css/style.css'%}" rel="stylesheet">
</head>

<body>
     
 



    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
        <a href="index.html" class="navbar-brand d-flex align-items-center">
            <h2 class="m-0 text-primary"><img class="img-fluid me-2" src="{% static '/images/carr1.jpg'%}" alt=""
                    style="width: 45px;">Yatra Packages</h2>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-4 py-lg-0 ">
                <a href="index" class="nav-item nav-link btn btn-outline-primary">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link btn btn-outline-primary">About</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link btn btn-outline-primary">Service</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link btn btn-outline-primary">Contact</a>
                <a href="{% url 'login' %}" class="nav-item nav-link btn btn-outline-primary">Login</a>
                <a href="{% url 'signup' %}" class="nav-item nav-link btn btn-outline-primary">Register</a>
            </div>
            
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid hero-header bg-light py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated slideInDown">Login And Signup</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb mb-0">

                          <div><a class="btn btn-outline-primary py-3 px-4 btn-sm btn-space" href="{% url 'signup' %}">SIGNUP </a></div>

                          
                          <div><a class="btn btn-outline-primary py-3 px-4 btn-sm btn-space" href="{% url 'login' %}">LOGIN</a></div>



                            
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 animated fadeIn">
                    <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="{% static '/images/tri1.jpg'%}"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid" src="{% static '/images/k12.jpg'%}" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h1 class="display-6">About Us</h1>
                        <h1 class="text-primary fs-5 mb-4"> Different our unique tours are built on extensive knowledge of our destinations, an outstanding team of professionals, and personalized  service. </h1>
                        <h4 class="text-primary fs-5 mb-4">We provide rooms,Food Service,live food,5 star rating rooms tc </h4>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                            <span>Collage Tour</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                            <span>School Trip</span>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                            <span>Office trip</span>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                            <span>Wedding trip</span>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                            <span>Holiday Trips</span>
                        </div>
                        <a class="btn btn-primary py-3 px-4" href="{% url 'contact' %}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

       
       <div class="container mt-2">
           
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="card card-block">
                  
                <img src="{% static '/images/boat1.jpg'%}" alt="Photo of sunset">
                   
              </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="card card-block">
                  
                <img src="{% static '/images/train1.jpg'%}" alt="Photo of sunset">
                    
              </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="card card-block">
                 
                <img src="{% static '/images/kl.jpg'%}" alt="Photo of sunset">
                   
              </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="card card-block">
                 
                <img src="{% static '/images/k1.jpg'%}" alt="Photo of sunset">
                    
              </div>
                </div>    
              </div>
              
            </div>
        </div>  
        <div class="container mt-2">
           
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                
              <img src="{% static '/images/k2.jpg'%}" alt="Photo of sunset">
                 
            </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                
              <img src="{% static '/images/k3.jpg'%}" alt="Photo of sunset">
                  
            </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card card-block">
               
              <img src="{% static '/images/k4.jpg'%}" alt="Photo of sunset">
                 
            </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card card-block">
               
              <img src="{% static '/images/k7.jpg'%}" alt="Photo of sunset">
                  
            </div>
              </div>    
            </div>
            
          </div>
      </div>     


    


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>

